html {
    font-family: 'Carlito', sans-serif;
    background-color: #3b0c18;
    position: relative;
    min-height: 1150px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #5c1427;
    align-items: center;
    min-height: 40px;
    justify-content: space-between;
    position: relative;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.logo h2 {
    font-size: 25px;
}

nav {
    margin-right: 1.4rem;
}

.nav-link {
    transition: color 0.3s ease;
    padding: 1rem;
}

.nav-link:hover {
    color: #c1526f;
}

.info {
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    
}
.info img {
    height: 385px;
}

.info-texto {
    color: white;
}

.info-texto h3 {
    margin-top: 2rem;
    margin-left: 1rem;
}

.info-texto p {
    margin: 1.4rem;
    margin-left: 2.3rem;
}

.top-news {
    text-align: center;
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.top-news h2 {
    padding-top: 40px;
    border-top: #c1526f solid 2px;
    color: white;
}

.catacolab {
    display: flex;
    justify-content: space-around;
    margin: 50px;
}

.catacolab a {
    box-shadow: 0 5px 10px #000;
}

.catacolab img {
    transition: width .5 ease;
}

.catacolab img:hover {
    width: 310px;
    box-shadow: 0 5px 15px #c1526f;
}

footer {
    display: flex;
    background-color: #5c1427;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 97.95%;
    padding: 1.2rem;
    flex-wrap: wrap;
}

footer a{
    transition: color 0.3s ease;
}

footer a:hover {
    color: #c1526f;
}

footer p {
    color: white;
    margin-right: 2.4rem;
}

.derechos {
    color: #666
}

.nav-footer-link {
    padding: 0.7rem;
}

@media (max-width: 870px){
    header {
        flex-direction: column;
    }
    nav {
        padding-bottom: 1.3rem;
    }
    footer {
        flex-direction: column;
    }
    footer p {
        margin: 1.6rem;
        margin-bottom: 1rem;
    }
    .nav-footer {
        margin-top: 0.4rem;
    }
}