html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Carlito', sans-serif;
}

body {
    display: flex;
    background-color: #071B2D;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}