html {
    font-family: 'Carlito', sans-serif;
    background-color: #071B2D;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #0C0F1C;
    align-items: center;
    min-height: 40px;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.logo h2 {
    font-size: 25px;
}

nav {
    margin-right: 1.4rem;
}

.nav-link {
    transition: color 0.3s ease;
    padding: 1rem;
}

.nav-link:hover {
    color: #8867AB;
}

.contacto {
    display: flex;
    background-color: #e1e1e1;
    align-items: center;
    font-weight: bold;
    margin: 1.3rem;
    padding: 1.5rem;
    color: black;
    border-radius: 6px;
}

.contacto a {
    transition: color 0.3s ease;
    text-decoration: none;
    font-weight: normal;
    color: black;
    padding: 0.2rem;
}

.contacto a:hover {
    color: #8867AB;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagenes {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin: 2rem;
}

footer {
    display: flex;
    background-color: #0C0F1C;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    flex-wrap: wrap;
}

footer a{
    transition: color 0.3s ease;
}

footer a:hover {
    color: #8867AB;
}

footer p {
    color: white;
    margin-right: 2.4rem;
}

.derechos {
    color: #666
}

.nav-footer-link {
    padding: 0.7rem;
}

@media (max-width: 870px){
    header {
        flex-direction: column;
    }
    nav {
        padding-bottom: 1.3rem;
    }
    footer {
        flex-direction: column;
    }
    footer p {
        margin: 1.6rem;
        margin-bottom: 1rem;
    }
    .nav-footer {
        margin-top: 0.4rem;
    }
}