html {
    font-family: 'Carlito', sans-serif;
    background-color: #3b0c18;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #5c1427;
    align-items: center;
    min-height: 40px;
    justify-content: space-between;
}

a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.logo h2 {
    font-size: 25px;
}

nav {
    margin-right: 1.4rem;
}

.nav-link {
    transition: color 0.3s ease;
    padding: 1rem;
}

.nav-link:hover {
    color: #c1526f;
}

.news {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-top: 80px;
    
}

.cata {
    box-shadow: 0 5px 10px #000;
    transition: box-shadow 0.3s ease;
    transition: border 0.1s;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10px;
    gap: 15px;
    background-color: #c27ba0;
    border-radius: 7px;
}

.cata:hover {
    border: 2px solid rgba(218, 116, 116, 0.1);
    box-shadow: 0 8px 15px rgba(194, 123, 160, .5);
    cursor: pointer;
}

.colaboracion {
    box-shadow: 0 5px 10px #000;
    transition: box-shadow 0.3s ease;
    transition: border 0.1s;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 10px;
    gap: 15px;
    background-color: #c27ba0;
    border-radius: 7px;
}

.colaboracion:hover {
    border: 2px solid rgba(218, 116, 116, 0.1);
    box-shadow: 0 8px 15px rgba(194, 123, 160, .5);
    cursor: pointer;
}

footer {
    display: flex;
    background-color: #5c1427;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 97.96%;
    justify-content: space-between;
    padding: 1.2rem;
    flex-wrap: wrap;
}

footer a{
    transition: color 0.3s ease;
}

footer a:hover {
    color: #c1526f;
}

footer p {
    color: white;
    margin-right: 2.4rem;
}

.derechos {
    color: #666
}

.nav-footer-link {
    padding: 0.7rem;
}

@media (max-width: 870px){
    header {
        flex-direction: column;
    }
    nav {
        padding-bottom: 1.3rem;
    }
    footer {
        flex-direction: column;
    }
    footer p {
        margin: 1.6rem;
        margin-bottom: 1rem;
    }
    .nav-footer {
        margin-top: 0.4rem;
    }
}